<.header>
  Is Chicago Colder Than Anchorage????
</.header>

<h2 class="text-center text-6xl my-4"><%= @results.is_colder_than %></h2>

<section>
  <div>
    Chicago Temp: <%= @results.chicago_temp %> °F
  </div>
  <div>
    Anchorage Temp: <%= @results.anchorage_temp %> °F
  </div>
</section>
