<.header>
  Is Chicago Colder Than Anchorage ????
</.header>

<h2><strong><%= @results.is_colder_than %></strong></h2>

<section>
  Chicago Temp: <%= @results.chicago_temp %> °F
  Anchorage Temp: <%= @results.anchorage_temp %> °F
</section>
