<.header>
  Listing Games
</.header>

<div>
  Game count: <%= length(@games) %>
</div>

<section class="flex flex-wrap justify-evenly">
  <.game_card :for={game <- @games} name={game.name} url={game.url} image_url={game.image_url} />
</section>
