.toggle {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 5px;
}

.dark {
  background: $grey;
  color: $light-grey;

  a {
    color: $light-grey;
    &:hover {
      color: $focus-color;
    }
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 121px;
  height: 38px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $light-grey;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
  border: 2px solid $grey;
  padding-top: 7px;
  text-align: center;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: $grey;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  color: $grey;
  background-color: $light-grey;
}

input:checked + .slider:before {
  -webkit-transform: translateX(84px);
  -ms-transform: translateX(84px);
  transform: translateX(84px);
}
