$font-family: Consolas, monaco, monospace;

// colors
$grey: #444444;
$light-grey: #efefef;
$pink: #c500ff;
$teal: #39c39c;

// themes
$background: $light-grey;
$text-color: $grey;
$focus-color: $teal;
