<section class="flex flex-col justify-center">
  <image
    class="w-[300px] h-[450px] border-4 border-gray-800 border-solid bg-white rounded-lg mt-4 self-center"
    src="/images/jim.jpg"
    title="picture of Jim Segal"
  />

  <h2 class="font-mono my-2">Software Engineer, Amateur Photographer</h2>
  <.contact_links />
</section>
