<main>
  <div
    class="flex flex-col flex-grow border-4 border-gray-800 border-dashed bg-white rounded-lg mt-4"
  >
    <image src="/images/jim.jpg" title="picture of Jim Segal" />
  </div>
  <.contact_links />
</main>
