<.header>
  Projects
</.header>

<section class="flex flex-row flex-wrap">
  <a :for={project <- @projects} href={project.route}>
    <div class="border-2 border-green-800 m-4 p-4 w-[280px] rounded hover:bg-purple-200">
      <h3 class="text-center text-lg font-semibold p-4 bg-indigo-300 mb-2">
        <%= project.title %>
      </h3>
      <p :if={Map.get(project, :subtitle, false)}><%= project.subtitle %></p>
    </div>
  </a>
</section>
